:root {
  --color-accent: #24a543;
  --color-accent-darker: #146526;
  --color-primary: #3a3a3a;
  --color-secondary: #666666;
  --color-secondary-darker: #525252;
  --color-font: #fff;
  --padding-button: 5px 20px;
  --border-radius: 10px;
}

html {
  color: var(--color-font);
  overflow-y: hidden!important;
}

.invisible {
  color: transparent;
}